body {
    margin: 0;
    padding: 0;
    background-color: #797979;
}

header {
    background-color: #00000000;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
}

.logo {
    height: 100%;
    width: auto;
}

.logo svg {
    width: 15rem;
    height: auto;
}

.rightHdr {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    margin-top: 1 rem;
    align-items: center;
}

.hdrPublishBtn {
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

.hdrPublishBtn:hover {
    background-color: rgba(255, 255, 255, 0.441);
    transition: background 100ms;
}

.hdrPublishBtn:active {
    background-color: rgba(255, 255, 255, 0.801);
    transition: background 100ms;
}

.profileBtn {
    color: white;
}

.backgroundSearch{
    background-image: url('../imagenes/cocina_verde.png');
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100vw;
}